<#
    .SYNOPSIS
        Manage the Windows HTTP proxy
    .DESCRIPTION
        Used by Puppet Exec statement to manage the Windows HTTP proxy configuration
#>

Function Initialize-WindowsHTTPProxy {
    [CmdletBinding()]
    Param
    (
        [Parameter(Mandatory = $false)][int]$Port = 0,
        [Parameter(Mandatory = $false)][string]$Server = '',
        [Parameter(Mandatory = $false)][string]$BypassList = '',
        [Parameter(Mandatory = $false)][ValidateSet('absent', 'present', 'unmanaged')][string]$Ensure = 'present'
    )
    [string]$functionName = "{0}" -f $MyInvocation.MyCommand
    Invoke-HelperOutput -Message "$functionName executing..."
    Invoke-HelperOutput -Message "   Ensure: $Ensure"
    if ($Ensure -eq 'present') {
        Invoke-HelperOutput -Message "   BypassList: $BypassList"
        Invoke-HelperOutput -Message "   Port: $Port"
        Invoke-HelperOutput -Message "   Server: $Server"
        if (($null -eq $Server) -or ('' -eq $Server)) {
            Invoke-HelperOutput -Message '   Invalid Server supplied' -Type 'Console' -ForegroundColor 'DarkYellow'
            return $false
        }
        if (($null -eq $Server) -or (0 -eq $Server)) {
            Invoke-HelperOutput -Message '   Invalid Port supplied' -Type 'Console' -ForegroundColor 'DarkYellow'
            return $false
        }
        Invoke-HelperOutput -Message "   Configuring HTTP proxy settings..."
        [string]$result = netsh winhttp set proxy proxy-server="$($Server):$($Port)" bypass-list="$BypassList"
        if ($result.Contains( 'Current WinHTTP proxy settings:')) {
            [string]$registryPath = "HKLM:\Software\Microsoft\Windows\CurrentVersion\Internet Settings"
            Invoke-HelperOutput -Message "      Updating '$registryPath' (ensures visibility within GUIs)"
            $BypassList = $BypassList.Replace('<local>', '')
            if ($BypassList.Length -gt 2) {
                [string]$firstCharacter = $BypassList.SubString(0, 1)
                if ($firstCharacter -eq ';') {
                    $BypassList = $BypassList.SubString(1, $BypassList.Length - 1)
                }
            }
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyServer' -Value "$($Server):$($Port)"
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyOverride' -Value "$BypassList"
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyEnable' -Value 1
            Invoke-HelperOutput -Message "   Successfully configured the HTTP proxy settings" -Type 'Console' -ForegroundColor 'Green'
        }
        else {
            Invoke-HelperExiter -Message "Unable to configure the HTTP proxy settings" -Type 'failure'
        }
    }
    if ($Ensure -eq 'absent') {
        Invoke-HelperOutput -Message "   Resetting HTTP proxy settings..."
        [string]$result = netsh winhttp reset proxy
        if ($result.Contains( 'Direct access (no proxy server).')) {
            [string]$registryPath = "HKLM:\Software\Microsoft\Windows\CurrentVersion\Internet Settings"
            Invoke-HelperOutput -Message "      Clearing '$registryPath' (ensures visibility within GUIs)"
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyServer' -Value ''
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyOverride' -Value ''
            Set-ItemProperty -Path "$registryPath" -Name 'ProxyEnable' -Value 0
            Invoke-HelperOutput -Message "   Successfully reset the HTTP proxy settings" -Type 'Console' -ForegroundColor 'Green'
        }
        else {
            Invoke-HelperExiter -Message "Unable to reset the HTTP proxy settings" -Type 'failure'
        }
    }
    Invoke-HelperOutput -Message "$functionName execution complete"
}



[boolean]$logOutput = $true
if ('<%= @module_name %>' -eq 'windows_http_proxy') {
    # running within Puppet processes
    if (("<%= scope['windows_http_proxy::log_output'] %>" -eq '') -or ("<%= scope['windows_http_proxy::log_output'] %>" -eq 'false')) {
        $logOutput = $false
    }
    Write-Host "Invoking the 'proxy_command.ps1' PowerShell script..." -ForegroundColor 'DarkGray'
    Invoke-HelperInitializer -ModuleName "windows_http_proxy" -LogOutput $logOutput -IsAdminRequired $true
    Initialize-WindowsHTTPProxy -BypassList "<%= scope['windows_http_proxy::bypass_list'] %>" `
        -Ensure "<%= scope['windows_http_proxy::ensure'] %>" `
        -Port "<%= scope['windows_http_proxy::port'] %>" `
        -Server "<%= scope['windows_http_proxy::server'] %>"
}
else {
    Write-Host "Invoking the '$($MyInvocation.MyCommand.Name)' PowerShell script..." -ForegroundColor 'DarkGray'
    . "$PSScriptRoot\helpers.ps1"
    Invoke-HelperInitializer -ModuleName "windows_http_proxy" -LogOutput $logOutput -IsAdminRequired $true
    Initialize-WindowsHTTPProxy -BypassList "<local>;tester.company.com;*.company.com" `
        -Ensure "present" `
        -Port 8282 `
        -Server "proxy.company.com"
}
Invoke-HelperExiter -Message "Exiting with a 0"  -ExitCode 0 -Type 'success'