<#
    .SYNOPSIS
        Checks if the Windows HTTP proxy is already configured according to the supplied information.
    .DESCRIPTION
        Used by Puppet Exec statement to determine if additional actions need to be taken.
#>

Function Test-WindowsHTTPProxy {
    [OutputType([boolean])]
    [CmdletBinding()]
    Param
    (
        [Parameter(Mandatory = $false)][int]$Port = 0,
        [Parameter(Mandatory = $false)][string]$Server = '',
        [Parameter(Mandatory = $false)][string]$BypassList = '',
        [Parameter(Mandatory = $false)][ValidateSet('absent', 'present', 'unmanaged')][string]$Ensure = 'present'
    )
    [string]$functionName = "{0}" -f $MyInvocation.MyCommand
    Invoke-HelperOutput -Message "$functionName executing..."
    Invoke-HelperOutput -Message "   Ensure: $Ensure"
    [boolean]$isSet = $false
    [boolean]$isBypassListValid = $false
    [boolean]$isPortValid = $false
    [boolean]$isServerValid = $false
    try {
        [object[]]$netshSettings = netsh winhttp show proxy
        if ($Ensure -eq 'present') {
            Invoke-HelperOutput -Message "   BypassList: $BypassList"
            Invoke-HelperOutput -Message "   Port: $Port"
            Invoke-HelperOutput -Message "   Server: $Server"
            if (($null -eq $Server) -or ('' -eq $Server)) {
                Invoke-HelperOutput -Message '   Invalid Server supplied' -Type 'Console' -ForegroundColor 'DarkYellow'
                return $false
            }
            if (($null -eq $Server) -or (0 -eq $Server)) {
                Invoke-HelperOutput -Message '   Invalid Port supplied' -Type 'Console' -ForegroundColor 'DarkYellow'
                return $false
            }
            if ($null -eq $netshSettings) {
                Invoke-HelperOutput -Message '   Unable to obtain HTTP proxy settings' -Type 'Console' -ForegroundColor 'DarkYellow'
                return $false
            }
            [string]$proxyCheck = $netshSettings
            if ($proxyCheck.Contains( 'Direct access (no proxy server).')) {
                Invoke-HelperOutput -Message '   HTTP proxy is not currently configured (using direct access only)' -Type 'Console' -ForegroundColor 'DarkYellow'
                return $false
            }
            else {
                [PSCustomObject]$netshObject = $netshSettings | ConvertFrom-String -Delimiter ": "
                [string[]]$data = "$($netshObject[0].P2)" -Split ':'
                [PSCustomObject]$proxyObject = [PSCustomObject]@{
                    BypassList = "$($netshObject[1].P2)".Trim()
                    Port       = "$($data[1])".Trim()
                    Server     = "$($data[0])".Trim()
                }
                Invoke-HelperOutput -Message "   Current HHTP Proxy vs Desired HTTP Proxy:"
                $isServerValid = Invoke-HelperComparer -Value "$($proxyObject.Server)" -OtherValue "$Server" -Identifier "Server" -LogOutput $true
                $isPortValid = Invoke-HelperComparer -Value "$($proxyObject.Port)" -OtherValue "$Port" -Identifier "Port" -LogOutput $true
                $isBypassListValid = Invoke-HelperComparer -Value "$($proxyObject.BypassList)" -OtherValue "$BypassList" -Identifier "BypassList" -LogOutput $true
                if ($isBypassListValid -and $isPortValid -and $isServerValid) {
                    $isSet = $true
                }
            }
        }
        if ($Ensure -eq 'absent') {
            if ($null -eq $netshSettings) {
                Invoke-HelperOutput -Message "   No existing HTTP proxy settings found"
                $isSet = $true
            }
            else {
                [string]$proxyCheck = $netshSettings
                if ($proxyCheck.Contains( 'Direct access (no proxy server).')) {
                    Invoke-HelperOutput -Message '   HTTP proxy is not currently configured'
                    $isSet = $true
                }
                else {
                    Invoke-HelperOutput -Message "   Unwanted existing HTTP proxy settings found"
                }
            }
        }
    }
    catch {
        Invoke-HelperOutput -Message "$($functionName): $_" -Type 'Console' -ForegroundColor 'Red'
        Invoke-HelperExiter -Message "An unexpected error occured while verifying HTTP proxy settings" -Type 'failure'
    }
    Invoke-HelperOutput -Message "$functionName execution complete"
    return $isSet
}



[boolean]$isAlreadySet = $false
[boolean]$logOutput = $true
if ('<%= @module_name %>' -eq 'windows_http_proxy') {
    # running within Puppet processes
    if (("<%= scope['windows_http_proxy::log_output'] %>" -eq '') -or ("<%= scope['windows_http_proxy::log_output'] %>" -eq 'false')) {
        $logOutput = $false
    }
    Write-Host "Invoking the 'proxy_onlyif.ps1' PowerShell script..." -ForegroundColor 'DarkGray'
    Invoke-HelperInitializer -ModuleName "windows_http_proxy" -LogOutput $logOutput -IsAdminRequired $true
    $isAlreadySet = Test-WindowsHTTPProxy -BypassList "<%= scope['windows_http_proxy::bypass_list'] %>" `
        -Ensure "<%= scope['windows_http_proxy::ensure'] %>" `
        -Port "<%= scope['windows_http_proxy::port'] %>" `
        -Server "<%= scope['windows_http_proxy::server'] %>"
}
else {
    Write-Host "Invoking the '$($MyInvocation.MyCommand.Name)' PowerShell script..." -ForegroundColor 'DarkGray'
    . "$PSScriptRoot\helpers.ps1"
    Invoke-HelperInitializer -ModuleName "windows_http_proxy" -LogOutput $logOutput -IsAdminRequired $true
    $isAlreadySet = Test-WindowsHTTPProxy -BypassList "<local>;tester.company.com;*.company.com" `
        -Ensure "present" `
        -Port 8282 `
        -Server "proxy.company.com"

}
Invoke-HelperOutput -Message "isAlreadySet: $isAlreadySet"
if ($isAlreadySet) {
    Invoke-HelperExiter -Message "Exiting OnlyIf with a 1 - which should NOT trigger the Command portion of the Exec statement" -ExitCode 1 -Type 'success'
}
else {
    Invoke-HelperExiter -Message "Exiting OnlyIf with a 0 - which SHOULD trigger the Command portion of the Exec statement" -ExitCode 0 -Type 'success'
}